body{background-color: rgb(141, 41, 41);}
.center{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;}
h1{text-align: center;
    color: black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.largeblack{color: rgb(29, 23, 23);
    font-size: x-large;
    font-weight: bold;}
.largeblue{color: rgb(38, 38, 175);
font-size: x-large;
font-weight: bold;}

